{% extends '_baseTemplate.html' %}

{% block content %}
    <div class="text-center">
        <h3 class="mt-3 text-justify-">Tests Interaction with the CKAN-Instance</h3>
        <hr style="border-top-color: navy">
        <br>
        <div class="get_all_dataset">
            <h4>Test 1: Crawling all Dataset from the main CKAN Instance</h4>
            <button class="btn btn-sm btn-outline-primary" id="btn_all_dataset">Crawl all Dataset</button>
            <hr>
            <div id = result_div class="">
                <div id="all_dataset" class="card-deck"></div>
                <br id="breaker">
                <nav aria-label="search results pages" id="searchResults">
                    <ul class="pagination">
                        <li class="page-item" id="page_numbers"><a class="page-link" href="#">page numbers: </a></li>
                        <li class="page-item" id="page1"><a class="page-link" href="#">1</a></li>
                        <li class="page-item" id="page2"><a class="page-link" href="#">2</a></li>
                        <li class="page-item" id="page3"><a class="page-link" href="#">3</a></li>
                        <li class="page-item" id="page4"><a class="page-link" href="#">4</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

{% endblock %}

{#<div class="all_data mt-4">
    <h3>Test 2: Crawling the entire CISS-CKAN Instance</h3>
    <button class="btn btn-sm btn-outline-success" id="btn_all_data">Crawl whole Instance</button>
    <hr>
    <p id="all_data_p"></p>
</div>
<div>
    {% block search %}
    {% endblock %}
{% block org %}{% endblock %}
</div>#}

{% block javascript %}
    {{ super() }}

    {# here, I am passing the variables from flask to a global JS Variable #}
    <script type="text/javascript">
        let res = {{ res.result|tojson }};
        let one = {{ one }};
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='_base.js') }}"></script>

{% endblock %}

