{% block org %}
     <h3>Test 4: Organizations in CISS CKAN Instance</h3>

    <button class="btn btn-sm btn-outline-primary" id="org_btn">Crawl all Organization</button>
    <p id="org_list"></p>
    <hr>
{% endblock %}


{% block javascript %}
<script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous"></script>

<script type="text/javascript">
    $(document).ready(
        function org () {
            let org_btn = document.getElementById("org_btn");
            let org_list = document.getElementById("org_list");
            let org = {{ org.result|tojson }};


            org_btn.addEventListener('click', function () {

                for (let i = 0; i < org.length; i++) {
                    org_list.innerHTML += "<a href='org[i]'>"+ org[i] +" </a> "+'<br>';
                }
            });

            // TODO -  Display returned results orderly.
        });
</script>
{% endblock %}